/* CORPO BASE DO SITE */
.body-class{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-image: url("../img/backgrounds/ilidan.png"),url("../img/backgrounds/lichking.png"), linear-gradient(black 0 0);
    background-position: top left,top right,center top;
    background-repeat: no-repeat;
    background-size: calc((100% - 1070px)/2),calc((100% - 1070px)/2),100%;
}