/* css da estrutura base do site*/

html{
    min-height: 100%;
}

.body-class{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;

}

/* css do background */
@media (min-width: 860px){
    .body-class{
        background-image: url("../img/backgrounds/ilidan.png"),url("../img/backgrounds/lichking.png"), linear-gradient(black 0 0);
        background-position: top left,top right,center top;
        background-repeat: no-repeat;
        background-size: calc((100% - 70%)/2),calc((100% - 70%)/2),100%;
    }
}
@media (min-width: 1920px){
    .body-class{
        background-size: calc((100% - (1920px - 40%))/2),calc((100% - (1920px - 40%))/2),100%;
    }
}