/* CORPO BASE DO SITE */
.body-class{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;

}
@media (min-width: 1024px){
    .body-class{
        background-image: url("../img/backgrounds/ilidan.png"),url("../img/backgrounds/lichking.png"), linear-gradient(black 0 0);
        background-position: top left,top right,center top;
        background-repeat: no-repeat;
        background-size: calc((100% - 80%)/2),calc((100% - 80%)/2),100%;
    }
}
@media (min-width: 1920px){
    .body-class{
        background-size: calc((100% - 1536px)/2),calc((100% - 1536px)/2),100%;
    }
}