/* CABEÇALHO */
.cabecalho{
  position: relative;
  background-color: rgb(60, 60, 60);
  margin-top: 0px;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
@media (min-width: 860px) {
  .cabecalho {
    width: 100%; /* tablets e celulares */
  }
}
@media (min-width: 1024px) {
  .cabecalho {
    width: 90%;
    max-width: 978px; /* computadores */
  }
}
@media (min-width: 1080px) {
  .cabecalho {
    width: 978px; /* Largura fixa baseada em 90% de 1080 */
    margin: 0 auto;
  }
}



/* css da logo */
.logo-div{
    padding: 3px;
    
}
.site-logo{
    height: 100px;
    display: block;
}
.site-logo-mobile{
    height: 100px;
    display: none;
}
@media (max-width: 860px) { /*torna a logo menor quando em telas pequenas */
  .site-logo {
    display: none;
  }
  .site-logo-mobile {
    display: block;
  }
}


/* css do menu superior */
.menu-container{
    margin-left: auto;
    z-index: 2;
}


.main-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.main-nav a{
    text-decoration: none;
    color: inherit;
    padding: 10px;
}
.main-nav a:hover{
    background-color: rgb(100, 100, 100);
}


.drop-menu {
    position: relative;
    display: inline-block;
}
.drop-menu-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #333;
    min-width: fit-content;
    white-space: nowrap;
    z-index: 2;
    flex-direction: column;
}
.drop-menu:hover .drop-menu-content {
    display: flex;
}
.drop-menu-content a {
    padding: 12px 16px;
    border-bottom: 2px solid #444;
}
.drop-menu-content a:last-child {
    border-bottom: none;
}


/*menu para mobile */
.sanduiche-style{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    margin-right: 25px;
    background-image: url(../img/icons/sanduiche.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sanduiche-style.aberto{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    margin-right: 25px;
    background-image: url(../img/icons/fechar-sanduiche.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sanduiche-style:active{
    border: solid;
    border-width: 1px;
}



@media (max-width: 860px){
    .main-nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(60, 60, 60);
        width: 100%;
        flex-direction: column;
        gap: 0;
        align-items: initial;
    }
    .drop-menu{
      display: flex;
      flex-direction: column;
    }

    #sanduicheMobile{
        display: flex;
    }

    .main-nav.aberto{
      display: flex;
    }

    .drop-menu-content{
      position: static;
      background-color: rgb(60, 60, 60);
    }
    .drop-menu-content.aberto{
      display: flex;
    }
}
