/*import da fonte im fell..*/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

/*css do corpo do perfil*/
.perfil-container{
    display: flex;
    padding: 5px;
    min-width: 95%;
    height: fit-content;
}
.profile-body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 50px 50px 25px 25px;
}
/*css dos dados principais*/
.dados-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.profile-photo{
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    box-shadow: 3px 3px 5px gray;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.profile-data{
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-name{
    color: black;
    font-size: 2.5em;
    font-family: 'IM Fell English', serif;
    border-bottom: 3px solid rgb(180, 180, 180);
}
.profile-char-title{
    color: black;
}
/*css do flex do corpo*/
.content-flexbox{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
/* flex na esquerda */
.flex-left{
    max-width: 40%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.redes-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 25px;
    border: 0px;
    height: fit-content;
    box-shadow: 3px 3px 3px gray;
    padding: 15px;
}.textredes{
    font-size: 1.2em;
    font-weight: bold;
}
.redes-container a{
    color: black;
    text-decoration: none;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon img{
    width: 30px;
    height: 30px;
    border: 50%;
}
.lore-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    border: 0px;
    padding: 15px;
    min-height: 200px;
    box-shadow: 3px 3px 3px gray;
}
.lore-title{
    font-size: 1.3em;
    font-weight: bold;
}
.lore-content{
    font: 1em;
}
/* flex na direita */
.flex-right{
    width: 58%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.articles-flex{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    height: 445px;
    border: 0px;
    padding: 15px;
    box-shadow: 3px 3px 3px gray;
}
.articles-content{
    width: 100%;
}

/*css das aventuras dispostas no perfil */
.post-div-title{
    color: black;
    font-size: 1.5em;
}
.post-aventura-flex{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.post-aventura-flex:hover{
    background-color: rgb(204, 204, 204);
}
.aventura-img-container{
    width: auto;
    height: 90%;
} .aventura-img-container img{
    height: 100%;
}
.post-aventura-content{
    padding: 5px;
}
.conteudo-titulo{
    font-size: 1.2em;
    font-weight: bold;
}
.conteudo-titulo a{
    color: black;
    text-decoration: none;
}
.conteudo-texto{
    font-size: 0.7em;
}